<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/imgs/logosite">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Portfolio</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/imgs/perfil.png">
            <h1>Matheus Henrique</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https:/www.instagram.com/matheus.mhms">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://github.com/verezeeee">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/matheus-henrique-a426ba268/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://twitter.com/matheushmssss">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-file-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contatos</a>
                </li>
            </ul>

        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text=shadow">Matheus Henrique</h2>
                <span id="subtitle" class="text-white text=shadow">Estudante e Programador</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id='arraste' class='d-flex align-items-center'>
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>

        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Texto Sobre Mim</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/imgs/perfil.png" alt="Foto perfil" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Estudante</h3>
                    <p>Atualmente curso Engenharia de Software na UniEvangélica, e atuo como interno Junior na Fábrica
                        de Tecnologias Turing.</p>

                    <div>
                        <div>
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Aniversário: <span class="fw-lighter">29 de Junho de 2004</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">18 Anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Anápolis</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Goiás</span>
                                </li>
                            </ul>
                        </div>

                    </div>


                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como desenvolvedor de tecnologias eu adquiri algumas habilidades técnicas e não
                    técnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito
                    ter em cada uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 30%">30%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 30%">30%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 30%">30%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 45%">45%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0">ReactJs</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 10%">10%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 20%">20%</div>
                        </div>
                        <p class="mt-3 mb-0">NodeJs</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="10"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 10%">10%</div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 70%">70%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                            <div data-anime="left" class="progress-bar" style="width: 100%">100%</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="mt=5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso completo em Python</h4>
                            <h5>2021</h5>
                            <p><em>Curso em Vídeo</em></p>
                            <p>Curso grátis focado em desenvolvimento na linguagem python.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Graduando em Engenharia de Software</h4>
                            <h5>2023-2027</h5>
                            <p><em>Faculdade UniEvangélica</em></p>
                            <p>Graduação de Engenharia de Software.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Curso completo JavaScript</h4>
                            <h5>2022</h5>
                            <p><em>Udemy</em></p>
                            <p>Curso voltado para o desenvolvimento de websites com JavaScript.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3> </h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso CSS</h4>
                            <h5>2022</h5>
                            <p><em>Curso em Vídeo</em></p>
                            <p>Curso voltado para a estilização de websites usando CSS.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Curso HTML</h4>
                            <h5>2022</h5>
                            <p><em>Curso em Vídeo</em></p>
                            <p>Curso voltado para a criação de websites em HTML.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Curso NodeJs</h4>
                            <h5>2022</h5>
                            <p><em>Udemy</em></p>
                            <p>Curso de Nodejs focado na criação de aplicativos web usando JavaScript no lado do
                                servidor.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-bg mt-5" id="portfolio">
            <div data-anime="left" class="container pb-5 pt-5">
                <h2 class="pb-5">Portfólio</h2>

                <div id="carouselExampleDark" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="card mb-3">
                                <img src="../static/imgs/pokedex.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pokedex</h5>
                                    <p class="card-text">Pokedex feita usando HTML, CSS e o Framework Flask.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/verezeeee/Pokedex-master/tree/master/Flask-Pokedex-master"
                                            target="_blank" class="btn btn-outline-dark me-3"><i
                                                class="bi bi-github"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Anápolis, GO</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>theusma58@gmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3829.5604786172894!2d-48.94591872388203!3d-16.29428173546477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ea41e3d4f01bb%3A0xc7932a89efac8958!2sUniEVANG%C3%89LICA%20-%20Universidade%20Evang%C3%A9lica%20de%20Goi%C3%A1s!5e0!3m2!1spt-BR!2sbr!4v1682094400157!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div data-anime="left" class="card p-5 h-100 shadow border-0">

                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu e-mail." required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem: </label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-outline-primary">Enviar
                                        Mensagem</button>
                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id='alerta' class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>